<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Votacao Online
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Votacao Online</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Vote Online</ion-card-title>
            <ion-card-subtitle>Escolha seu candidato com consciencia.</ion-card-subtitle>
        </ion-card-header>
        <ion-card>
            <ion-img src="../../assets/homer.jpeg"></ion-img>
            <ion-card-header>
                <ion-card-title>Homer Simpsons</ion-card-title>
                <ion-card-subtitle>Eleicoies 2022</ion-card-subtitle>
                <ion-card-subtitle>Homer é um amante de cerveja duff, promete a todos que votarem o dia da DUFF de graca</ion-card-subtitle>
                <ion-button expand="block">Votar</ion-button>
            </ion-card-header>
        </ion-card>
        <ion-card>
            <ion-img src="../../assets/Lisa-Simpson-PresidenteBR.jpeg"></ion-img>
            <ion-card-header>
                <ion-card-title>Lisa Simpsons</ion-card-title>
                <ion-card-subtitle>Eleicoies 2022</ion-card-subtitle>
                <ion-card-subtitle>Lisa Simpsons é uma promessa em meio aos candidatos, apesar da idade promete um brasil com muita cultura e poder Financeiro.</ion-card-subtitle>
                <ion-button expand="block">Votar</ion-button>
            </ion-card-header>
        </ion-card>
        <ion-card>
            <ion-img src="../../assets/bart-simpson-.webp"></ion-img>
            <ion-card-header>
                <ion-card-title>Bart Simpsons</ion-card-title>
                <ion-card-subtitle>Eleicoies 2022</ion-card-subtitle>
                <ion-card-subtitle>Bart Simpsons vem em busca de um pais com projetos de esportes radicais.</ion-card-subtitle>
                <ion-button expand="block">Votar</ion-button>
            </ion-card-header>
        </ion-card>
    </ion-card>