<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Votacao Online
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Votacao Online</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Vote Online</ion-card-title>
            <ion-card-subtitle>Escolha seu candidato com consciencia.</ion-card-subtitle>
        </ion-card-header>
        <ion-card>
            <ion-img src="../../assets/Springfield.webp"></ion-img>
            <ion-card-header>
                <ion-card-title>Eleicoies 2022</ion-card-title>
                <ion-card-subtitle>Para uma Springfield Melhor!</ion-card-subtitle>
                <ion-button expand="block">Começar Votação!</ion-button>
            </ion-card-header>
        </ion-card>
    </ion-card>
    <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>